server {
  listen ${NGINX_PORT};

  server_name auth.${EXTERNAL_HOST};

  location /oauth2/ {
    proxy_pass http://oauth2-proxy:4180;
    proxy_set_header  Host  $host;
    proxy_set_header X-Real-IP  $remote_addr;
    proxy_set_header  X-Auth-Request-Redirect $request_uri;
  }
}