server {
  listen ${NGINX_PORT};
  server_name demo.${EXTERNAL_HOST};

  include conf.d/oauth2.snippet;

  location / {
    proxy_pass http://demo:8000/;
  }

  location /with-auth {
    auth_request /taxis/auth;
    error_page 401 = @sign_in;

    auth_request_set $email  $upstream_http_x_email;
    auth_request_set $groups  $upstream_http_x_groups;

    proxy_set_header X-Email $email;
    proxy_set_header X-Groups $groups;
    
    sub_filter '@email' $email;
    sub_filter '@groups' $groups;


    proxy_pass http://demo:8000/;
  }
}